@model Digitalers.Web.Models.ProfesorViewModel

@{
    ViewData["Title"] = "Editar Profesor";
}

<h2>Editar Profesor</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @if (!string.IsNullOrWhiteSpace(@Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dni" class="control-label"></label>
        <input asp-for="Dni" class="form-control" />
        <span asp-validation-for="Dni" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Especialidad" class="control-label"></label>
        <input asp-for="Especialidad" class="form-control" />
        <span asp-validation-for="Especialidad" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-3">
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>

    
    
</form>